
.content-container{
  width:1200px;
  background-color:#EBE9E6;
  margin: auto;
}
.timer-filter-data-container{
  width: 894px;
  display: flex;
  justify-content: space-between;
  margin-left: 103px;
}
.content{
  background-color:#EBE9E6; 
}
.timer-filter{
  width: 284px;
}

@media (max-width: 576px){
  .content{
    width: 360px;
    margin: auto;
  }
  .content-container{
    width:100%;
    height:auto;
    display: block;
  }
  .timer-filter-data-container{
    width:360px;
    display: block;
    margin-left: 0px;
  }
  .timer-filter{
    display: flex;
    justify-content: space-between;
  }
}

  
