
.content-container{
  width:1200px;
  background-color:#EBE9E6;
  margin: auto;
}
.timer-filter-data-container{
  width: 894px;
  display: flex;
  justify-content: space-between;
  margin-left: 103px;
  border: 1px solid black;
}
.content{
  background-color:#EBE9E6; 
}

@media (max-width: 576px){
  .content-container{
    width:360px;
    height:auto;
    display: block;
  }
  .timer-filter-data-container{
    width:360px;
    display: block;
    margin-left: 0px;
  }
  .timer-filter{
    display: flex;
    justify-content: space-between;
  }
}

  
