.timer-filter{
  border:1px solid black;
}

.content-container{
  width:1200px;
  border:1px solid black; 
  background-color:#EBE9E6;
  margin: auto;
}
.timer-filter-data-container{
  border: 1px solid red;
  width: 894px;
  display: flex;
  justify-content: space-between;
  margin-left: 103px;
}
.content{
  background-color:#EBE9E6; 
}

@media (max-width: 576px){
  .content-container{
    width:360px;
    height:auto;
    display: block;
  }
  .content{
    margin-top:72px;
  }
  .timer-filter-data-container{
    width:360px;
    display: block;
    margin-left: 0px;
  }
}

  
