.filter-box{
    height: 375px;
    width:284px;
    padding-top: 10px;
    border: 1px dashed #777671;
    border-radius: 12px;
    /* border: solid 1px black;  */
    background-color:#F9F7F2;
    
  }
  .filter-text{
    height:19px;
    width: 197px;
    /* border:1px solid black;  */
    font-size: 16px;
    font-weight: 700;
    margin: 36px 0px 0px 49px;
  }
  .question-text{
    width: 104px;
    height:19px;
    /* border: 1px solid black;  */
    font-size: 16px;
    font-weight: 400;
    margin: 36px 0px 0px 49px;
    font-family: Inria Sans;
  }
   
  .score {
    height: 42px;
    width: 196px;
    /* border: 1px solid black;  */
    margin: 12px 20px 10px 46px;
    display: flex; 
    align-items: center; 
    gap:10px;
  }
  
  .score-box1{
    width: 41px; 
    height: 42px; 
    /* border: 1px solid black;  */
    background-color: #4C4B49;
    color: white;
    font-size: 14px;
    padding: 10px 12px 10px 12px;
  }
  .score-box2{
    width: 41px; 
    height: 42px; 
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    padding: 10px 12px 10px 12px;
  }
  
  .score-box3{
    width: 41px; 
    height: 42px; 
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    padding: 10px 12px 10px 12px;
  }
  
  .score-box4 {
    width: 41px; 
    height: 42px; 
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    padding: 10px 12px 10px 12px;
  }  
  .Attempt{
    height:19px;
    width:148px;
    /* border: 1px solid black;  */
    margin: 49px 0px 0px 49px;
    font-size: 16px;
  }
  .check-box{
    width:206px;
    height:64px;
    /* border: 1px solid black;   */
    margin:16px 0px 0px 45px;
  }
  .all{
    width:67px;
    height: 29px;
    /* border:1px solid black; */
    border-radius: 54px;
    background-color: #4C4B49;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding:6px 12px 6px 12px;
  }
  .check-option{
    display: flex;
    gap:6px;
  }
   .attempted{
    height:29px;
    width:109px;
    border:1px solid #F4D150;
    border-radius: 54px;
    background-color:#FEEEB4;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color:#1f1e1c;
    padding:6px 12px 6px 12px;
  } 
  .unattempted{
    height:29px;
    width:132px;
    border:1px solid #F4D150;
    border-radius: 54px;
    background-color:#FEEEB4;
    font-size: 14px;
    color:#1f1e1c;
    padding:6px 12px 6px 12px;
    margin-top:3px;
    text-align: center;
  } 

  @media (max-width:576px) {
    .filter-box{
      display: none;
    }
  
  }
  @media (min-width:576px) {
    .filter-box{
      display: block;
    }
    
  }