.filter-box{
    height: 375px;
    padding-top: 10px;
    border: 1px dashed #777671;
    border-radius: 12px;
    background-color:#F9F7F2;
    padding: 36px 40px 60px 48px;
  }
  .filter-text{
    font-size: 16px;
    font-weight: 700;
    
  }
  .question-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 36px;
    font-family: Inria Sans;
  }
   
  .score {
    display: flex; 
    align-items: center; 
    gap:10px;
    margin-top:10px;
  }
  
  .score-box1{
    background-color: #4C4B49;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    line-height: 41px;
    width: 42px;
    text-align: center;
  }
  .score-box2{
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    border-radius: 4px;
    line-height: 41px;
    width: 42px;
    text-align: center;
  }
  
  .score-box3{ 
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    border-radius: 4px;
    line-height: 41px;
    width: 42px;
    text-align: center;
  }
  
  .score-box4 {
    border:1px solid #F4D150;
    background-color:#FEEEB4;
    border-radius: 4px;
    line-height: 41px;
    width: 42px;
    text-align: center;
  }  
  .Attempt{
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 16px;
  }
  .all{
    border-radius: 54px;
    background-color: #4C4B49;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding:6px 12px 6px 12px;
  }
  .check-option{
    display: flex;
    gap:6px;
  }
   .attempted{
    border:1px solid #F4D150;
    border-radius: 54px;
    background-color:#FEEEB4;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color:#1f1e1c;
    padding:6px 12px 6px 12px;
  } 
  .unattempted{
    width:132px;
    border:1px solid #F4D150;
    border-radius: 54px;
    background-color:#FEEEB4;
    font-size: 14px;
    color:#1f1e1c;
    padding:6px 12px 6px 12px;
    margin-top:6px;
    text-align: center;
  } 

  @media (max-width:576px) {
    .filter-box{
      display: none;
    }
    .mobile-filter{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      /* border:1px solid black; */
      height: 39px;
      margin-top:50px;
      width: 104px;
      background-color: #FCFAFA;
      border-radius: 6px;
    }
    .filter-lines{
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      width:17px;
      height:auto;
      /* border: 1px solid black; */
    }
    .filter-line-1{
      width: 16px;
      border-bottom: 2px solid #777671;
    }
    .filter-line-2{
      width: 13px;
      border-bottom: 2px solid #777671;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .filter-line-3{
      width: 10px;
      border-bottom: 2px solid #777671;
    }
   .text-filter{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.18px;
  }
  }
  @media (min-width:576px) {
    .filter-box{
      display: block;
    }
    .mobile-filter{
      display: none;
    }
    
  }