.header{
    height:72px;
    width:100%;
    /* border:solid 1px black; */
    margin: auto;
    background-color: white;
    display: flex;
}


.img1{
    margin-top: 16px;
    display: flex;
    width: 112px;
    height: 36px;
}

.header-container{
  width:1200px;
  margin: auto;
  /* border:1px solid black; */
}
  


 








