

.header-container{
  width:1200px;
  margin: auto;
  display:flex;
  height:72px;
  justify-content: space-between;
}
.logo-pagination{
  width: 997px;
  display:flex;
  justify-content: space-between;
}
.header{
  width:112px;
  background-color: white
}
.img1{
  margin-top: 18px;
  height: 36px;
}

.submit-button{
  width: 130px;
  height: 54px;
  margin-top: 9px;
  border: 2px solid  #F4D150;
  background: #feeeb4;
  box-shadow: 0 4px 7px 0 #b3ae9c;
} 

@media (max-width: 576px) {
  .header-container {
    width:100%; 
    display: block; 
    margin: auto;
    height: auto;
    padding: 0px 20px 0px 20px;
  }

  .logo-pagination {
    width: 100%;
    display: block;
  }

  .header {
    display: block;
    width: 100%;
    text-align: center; 
    margin: 0 auto;
    border-bottom: 1px solid #E0DFDA;
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .img1 {
    display: block;
    margin: 0 auto;
  }

  

  .submit-button-container {
    display:block;
    position: fixed;
    bottom: 40px;
    right: 40px; 
  }
}





