
.logo{
  height: 72px;
  background-color: #FCFAFA;  
  padding-top: 18px;
}

.image{
  margin: auto;
  width: 112px;
 
}
.portal {
  height:866px;
  background-color:#EBE9E6;
  text-align: center;
  margin: auto;
  padding-top:55px;
}

.portal-content {
  width: 705px;
  /* height: 620px; */
  margin: auto;
  background:#F9F7F2;
  box-sizing: border-box;
  padding: 40px 0px 49px 0px;
  margin-top: 19px;
}
.portal-title{
  margin:auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color:#4C4B49;
}
.instructions-title{
  width: 471.997px;
  margin: auto;
  text-align:start;
  font-size: 18px;
  font-weight: 700;
  color:  #4C4B49;
  line-height: 21.78px;
}
.info{
  width: 471.997px;
  margin: auto;
  text-align:start;
  font-size: 14px;
  margin-top: 16px;
  font-weight: 400;
  color:#4c4b49;
  margin-bottom: 8px;
}
.info-list{
  width: 471.997px;
  color:#4c4b49;
  text-align:start;
  margin: auto;
  font-size: 14px;
  line-height: 21px;
}
.internet{
  width: 471.997px;
  margin: auto;
  font-size: 14px;
  font-weight:400;
  text-align: start;
  color:#4c4b49;
  margin-bottom: 8px;
  line-height: 21px;
}
.good{
  font-size: 14px;
  text-align: start;
  width: 471.997px;
  margin: auto;
  color:#4c4b49;
}
.luck{
  color:#4C4B49;
  font-size: 14px;
  font-weight: 700;
  text-align: start;
  width: 471.997px;
  margin: auto;
}
.footer-container{
  height: 171px;
  background-color: #4C4B49;
  padding-top: 63px;
  
}
.Footer{
  height: 68px;
}
.footer-text{
  height:68px;
  margin: auto;
  width:300px;
  font-family: Inter;
  font-size: 18px;
  color: #F9F7F2;
  text-align: center;
}
.footer-text1{
  font-family: "Inria Sans";
  font-size: 14px;
  text-align: center;
  color: #F9F7F2;
  margin-top: 10px;
}
.line{
  width: 620px;
  border:1px solid #4C4B49;
  margin: auto;
  margin-top: 40px;
}

.start-button {
  height: 54px;
  border: 2px solid  #F4D150;
  background-color:#FEEEB4;
  font-family: Inter;
  font-size: 18px;
  margin: auto;
  padding: 16px 35px ;
  margin-top: 39px;
}


@media (max-width: 768px) {
  .container {
    width: 360px;
    height: 1253px;
  }

  

  .portal {
    width: 360px;
    height: 1007px;
    padding: 20px;
  }

  .portal-content {
    width: 320px;
    height: 827px;
  }

  .instructions-title {
    width: 280px;

    font-size: 16px;

    text-align: center;
  }

  .info {
    width:280px;
  }

  .info-list{
    width: 280px;

  }

  .internet{
    width: 280px;
  }

  .good{
    width: 280px;
  }

  .luck{
    width: 280px;
  }

  .line{
    width:280px;
  }

  .footer-container {
    height:171px;
    width:360px;
    margin: auto;
  }

  .Footer {
    height: 57px;
    width: 289px;
  }

  .footer-text {
    width: 100%;
    font-size: 16px;
  }

  .footer-text1 {
    font-size: 12px;
    margin-top: 5px;
  }
}
